.select-dropdown {
  border-radius: 5px;
  position: relative;
  width: fit-content;
  z-index: 1;
  width: 200px;
}

.select-dropdown__button {
  padding: 1rem 4rem 1rem 1.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  width: fit-content;
  cursor: pointer;
}

.select-dropdown__button svg {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.select-dropdown__options {
  position: absolute;
  padding: 0.5em 0;
  font-size: 0.8rem;
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.select-dropdown__option {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
