.loader {
  width: 110px;
  height: 110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 5rem auto 0;
}

.loader__block {
  width: 30px;
  height: 30px;
  transition: 100ms;
}
